body *{
    perspective: 70vw;
}
body {
    background-color: black;
    background: url(assets/track2.jpg) ;
}

/*---- STYLING THE STOPWATCH QUADRANT -----*/
#stopwatch {
    margin-top:5%;
    height: 60vh;
    width: 52%;
    float: left;
    margin-left: -0.5%;
}
#display {
    box-sizing: border-box;
    background-color: #D4AF37;
    width: 100%;
    height: 100%;
    border-bottom: 10px solid #947a26;
    border-right: 10px solid #947a26;
    font-size: 5em;
    text-align: center;
    border-radius: 25%;
    transform: rotateY(-15deg) rotateX(10deg) rotateZ(10deg) ;
    z-index: 2;
}

table {
    margin: 5% auto;
    padding: 10% 2.5%;
    width: 90%;
    height: 80%;
}

@font-face {
    font-family: digital-7;
    src: url(assets/digital-7/digital-7-mono.ttf);
}

#time {
    margin: 25% auto;
    height: 25vh;
    background-color: #9a9a9a;
    border-radius: 15%;
    font-family: digital-7,monospace;
    font-size: 1.2em;
    line-height: 1.2em;
}

#cSeconds {
    font-size: 0.66em;
}

#time td {
    background-color: #DDDDDD;
    border: 1px solid black;
}

#time td:first-child {
    border-radius: 30% 0 0 30%;
}
#time td:last-child {
    border-radius: 0 30% 30% 0;
}

#buttons {
    height: 25%;
    font-family: 'Droid Sans Mono', monospace ;
}

button {
    width: 100%;
    height: 75%;
    margin: 25% 0 25% 0;
    border-radius: 20%;
    font-size: 0.25em;
    background-color: #A3A3A5;
    color: black;
}

button:focus {
    outline:0;
}

td {
    padding: 0 20px;
    width: 25%;
    color: #DDDDDD;
}


.blackText {
    color: black;
}

/*---- STYLING THE LAP-TIMES CONTAINER -----*/


#blackboard {
    box-sizing: border-box;
    height: 60vh;
    width: 45%;
    margin-top:10%;
    display:inline;
    float:right;
    overflow-x: hidden;
    overflow-y: auto;
    float:right;
    /*background-color: black;*/
    color: grey;
    z-index:4;
    font-size:50px;
    /*border: 25px solid #4A2714;*/
    border-width: 25px 25px 25px 25px;
    border-image: url(assets/wood_texture.jpg) 5% 5% 5% 5% stretch;
    background-image: url(assets/blackboard.jpg);
    line-height: 1em;
    font-family: 'Droid Sans Mono', monospace ;
}

p:last-child {
    color: white;
    font-weight: bold;
}

.lap {
    width: 98%;
    margin-left: 3%;
    margin-top: -2%;
    height: 10%;
    font-size: 0.95em;
}

#lapsText {
    letter-spacing: .2em;
    margin-top: 3%;
    color: white;
    font-weight: bold;
}

/*Responsiveness for mobile and window resizing*/
@media only screen and (max-device-width: 768px) {

    #blackboard {
        clear: both;
        height: 10em;
        width: 70%;
        margin-right: 16%;
        margin-top: 30%;
        text-align: center;
    }
    #stopwatch {
        width: 90%;
        height: 35vh;
    }

    #time {
        height: 15vh;
        font-size: 2em;
    }

    h1 {
        width: 100%;
    }

    button {
        width: 120%;
        height: 100%;
        margin: 50% 0 25% 0;
        border-radius: 20%;
        font-size: 0.4em;
        background-color: #A3A3A5;
        color: black;
    }
    #buttons {
        padding: 10% 0 0 0;
    }
}

@media only screen and (max-width: 768px) {
    #blackboard {
        clear: both;
        height: 10em;
        width: 70%;
        margin-right: 16%;
        text-align: center;
    }
    #stopwatch {
        width: 100%;
    }
    h1 {
        width: 100%;
    }
}
